.


<input [(ngModel)]="searchTerm" type="text" class="form-control search my-4" placeholder="search">


<div class="container">
  <div class="row">
    <div *ngFor="let x of mydata|search:searchTerm" class="col-md-3">
<div  class="card mb-3">
    <img [src]="x.image_url" class="card-img-top w-100" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{x.title|testless }}</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a [routerLink]="['/recpie' , x.recipe_id]">
      <button class="btn btn-success">see ingredients </button>
       </a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
 </div>
 </div>
</div>